nav, footer {
    background-color: rgb(129, 129, 224);
    height: 60px;
    font-size: 30px;
}
li {
    list-style-type: none;
}
a {
    color: black;
}

.mid-section {
    margin-top: 250px;
    display: flex;
    justify-content: center;
}

button {
    width: 90px;

}

footer{
    width: 100vw;
    position: fixed;
    bottom: 20px;
    text-align: center;
}
