body{
    width: 90%;
    height: 100vh;
    margin: auto;
}
.navbar {
    background-color: rgb(211, 231, 238);
    display: flex;
    justify-content: flex-start;
    border-radius: 5px;
    margin-top: 7px;
}
.navbar a {
    margin-right: 20px;
    font-weight: 600;
    font-size: 25px;
    border-right: 3px solid #007bff;
    padding-right: 20px;
}
.navbar a:hover{
    text-decoration: none;
}
footer{
    background-color: rgb(211, 231, 238);
    width: 90%;
    position: absolute;
    bottom: 7px;
    border-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}
table {
    width: 100%;
    margin-top: 20px;
}
thead {
    border-bottom: 2px solid black;
}
thead th {
    font-size: 20px;
    font-weight: 400;
    color: black;
    width: 25%;
}
form{
    width: 500px;
    height: 400px;
}
.form-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
label{
    font-size: 20px;
    font-weight: 500;
}
input[type=text]{
    width: 300px;
    margin-left: 10px;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 3px;
}
button{
    width: 400px;
    border: none;
    background-color: rgb(211, 231, 238);
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0,0,0,.08);
    color: #007bff;
    padding: 6px 18px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 40px;
}
button:focus{
    outline: none;
}


